/*Styles for my index.html for assignment 1*/

*{
    padding: 0;
    margin: 20px auto;
}

header {
    line-height: 30px;
    height: 30px;
    align-items: center;
}

body {
  background-color: blue;
  font-family: Verdana, helvetica, arial;
  font-size: 100%;
}

h1 {
  clear: both;
}

p {
  text-align: left;
  line-height: 1.4;
}

#wrapper {
  background: yellow;
  width: 940px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  border: 10px
}

img {
  width: 400px;
  float: right;
  margin: 0 0 10px 30px;
}

button {

}
